<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your subscription was canceled</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<p>Your subscription to {{ subscription.plan.name }} was canceled on {{ subscription.canceledTime | date: "%m/%d/%Y" }}.</p>
<p>There will be no further renewals or charges. If you wish to reinstate your subscription, please visit <a href="{{ subscription.website.url }}">{{ subscription.website.url }}</a></p>
</body>
</html>
